__pycache__
*.pyc
*.pyo
.env
venv/
.venv/
*.db
data/cookies/
data/perfiles_chrome/
data/temp/
data/logs/
data/proxies.txt
data/proxies/
data/proxy_base.txt
data/web_users.json
data/bin/
data/avatar*/*.png
data/avatars/
data/portadas/
data/backups/
.DS_Store
Thumbs.db
